// Background Colors 
$lightGreen: #98C379;
$beige: #F0E6D8;
$lightOlive: #a9b388;
$darkGreen: #606738;
$apricot: #e09132;
$softGreen: #9BCC60;
$earthyBrown: #A1887F;
$darkGray:  #484848;
$medGrey: #7E7E7E;
$yellow: #FFC107 ;
$white: #ddd;
