//Colors 
$lightGreen: #98C379;
$beige: #F0E6D8;
$lightOlive: #a9b388;
$darkGreen: #606738;
$apricot: #a8471d;
$darkGray:  #484848;
$medGrey: #7E7E7E;
$yellow: #FFC107 ;
$white: #ddd;
$waterBlue: #005493;
$boxShadow: rgba(0, 0, 0, 0.3);
$textShadow: rgba(0, 0, 0, 0.5);
$lightTextShadow:rgba(244, 244, 244, 0.5);
$bordeaux: #4c1717;
