@use "../abstract/variables" as *;
// Buttons 
    .changePage{
        align-self: center;
        width: 100%;
        margin-bottom: 2rem;
        padding: 12px 30px;
        border: none;
        border-radius: 7px;
        color: $darkGray;
        background-color: $yellow;
        font-size: 1.8rem;
        font-weight: bold;
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
        text-shadow: -0.6px 0.6px  $textShadow;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
            &:hover, 
            &:focus {
                background-color: $apricot;
                color: $white;
                transition: 1s;
                transform: scale(1.05);
            }
    }

    .add{
        align-self: center;
        width: 25%;
        padding: 8px 14px;
        margin-bottom: 1rem;
        border: none;
        border-radius: 7px;
        color: $darkGray;
        background-color: $yellow;
        font-size: 1.8rem;
        font-weight: bold;
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
        text-shadow: -0.6px 0.6px  $textShadow;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
            &:hover, 
            &:focus {
                background-color: $lightGreen;
                color: $white;
                transition: 1s;
                transform: scale(1.05);
            }
    }

    .complete{
        padding: 10px 15px;
        margin: 1rem 0 1rem 1rem;
        border: none;
        border-radius: 5px;
        background-color: $medGrey;
        color: $white;
        font-size: 1.8rem;
        font-weight: bold;
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
        text-shadow: -0.6px 0.6px  $textShadow;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
            &:hover, 
            &:focus {
                background-color: $apricot;
                color: $white;
                transition: 1s;
                transform: scale(1.05);
            }
    }
    
    .remove {
        margin: 1rem;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: $bordeaux;
        color: $white;
        font-size: 1.8rem;
        font-weight: bold;
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
        text-shadow: -0.6px 0.6px  $textShadow;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
            &:hover, 
            &:focus {
                background-color: $medGrey;
                color: $white;
                transition: 1s;
                transform: scale(1.05);
            }
    }

    .reset {
        align-self: center;
        width: 25rem;
        padding: 10px 15px;
        border: none;
        border-radius: 6px;
        background-color: $apricot;
        color: $white;
        font-size: 1.8rem;
        font-weight: bold;
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
        text-shadow: -0.6px 0.6px  $textShadow;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
            &:hover, 
            &:focus {
                background-color: $bordeaux;
                color: $white;
                transition: 1s;
                transform: scale(1.05);
        }
    }


    // Links
        .backToHome{
        display: flex;
        justify-content: center;
        align-self: center;
        margin-bottom: 1rem;
        width: 25%;
        padding: 8px 16px;
        border: none;
        border-radius: 7px;
        color: $darkGray;
        background-color: $lightOlive;
        font-size: 1.8rem;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        box-shadow: -2px 2px 2px $lightTextShadow;
        text-shadow: -0.6px 0.6px  $textShadow;
        cursor: pointer;
            &:hover, 
            &:focus {
                background-color: $yellow;
                color: $textShadow;
                transition: 1s;
                transform: scale(1.05);
            }
    }
