@use "../abstract/variables" as *;
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  background-color: $beige;
  h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 80vh;
    margin: 2rem 0;
    border-radius: 200px 15px 100px 15px/15px 100px 15px 200px;
    color: $homeFont;
    background-color: $olive;
    text-shadow: -5px 4px 2px $lightTextShadow;
    .homeHeader{
      display: block;
      display: flex;
      justify-content: center;
    }
  }
}
