@font-face {
    font-family: 'Sunny Spells';
    src: url('/style/assets/fonts/SunnyspellsRegular-MV9ze.eot');
    src: url('/style/assets/fonts/SunnyspellsRegular-MV9ze.eot?#iefix') format('embedded-opentype'),
         url('/style/assets/fonts/SunnyspellsRegular-MV9ze.woff2') format('woff2'),
         url('/style/assets/fonts/SunnyspellsRegular-MV9ze.woff') format('woff'),
         url('/style/assets/fonts/SunnyspellsRegular-MV9ze.svg#Sunny Spells') format('svg');
}
